.login-wrapper {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-wrapper > form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.error {
  border: 1px solid red;
}
