.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: white;
  width: 100%;
  height: 100%;
  background-color: #6b63ff;
  padding: 30px;
  box-sizing: border-box;
}

.login-wrapper > h1 {
  font-weight: 600;
  font-size: 20px;
}

.login-wrapper > form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  width: 100%;
}

.error {
  border: 1px solid red;
}

.login-svg {
  max-width: 500px;
  width: 100%;
  height: auto;
}

.login-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px;
}

.login-wrapper > form > button:hover {
  color: black;
}

.login-wrapper a {
  color: white;
  text-decoration: underline;
}
