.custom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  width: 100%;
  background-color: transparent;
  border: 2px solid #6b63fe;
  color: #6b63fe;
  transition: 0.2s;
}

.custom-button:hover {
  background-color: #6b63fe;
  color: white;
}
