nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav > div > img {
  width: 70px;
  height: auto;
}

.links {
  display: flex;
  gap: 2rem;
}
