.home-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.home-benefits {
  background-color: #f7f7f7;
  padding: 4rem 2rem;
  height: 100%;
}

.home-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 3rem 2rem 0rem 2rem;
}
.home-info h1 {
  margin-bottom: 2rem;
}

.home-column1 {
  width: 100%;
  max-width: 800px;
}

.header {
  text-align: left;
  margin-bottom: 2rem;
  max-width: 900px;
  width: 100%;
  margin: auto;
}

.header > h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 400;
}

.benefits {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  height: 100%;
  color: black;
}

.benefits-icon {
  font-size: 60px;
  color: #6b63ff;
}

.benefits-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 30%;
  text-align: center;
}

.separator {
  height: 100%;
  width: 1px;
  background-color: #6b63ff;
}
